.ko-popover{
    border: 0 dashed grey;
    border-width: 0 0 1px 0;
    border-bottom-color: grey;
}

.ko-popover-info{
    border-bottom-color: darkblue;
    border-bottom-width: 2px;
}

.vb{
    margin-bottom: 20px;
}

.vb-l{
    margin-bottom: 35px;
}

.vb-xl{
    margin-bottom: 45px;
}

.vt{
    margin-top: 20px;
}

.vt-l{
    margin-top: 35px;
}

.vt-xl{
    margin-top: 45px;
}

.subtitle{
    float:right;
    font-weight: 400;
}
.subtitle a{
    color: #07a;
    text-decoration: none;
    
}.subtitle a:hover{
    text-decoration: underline;
}
